name: Build IPA
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build IPA
        run: |
          xcodebuild build -project webview.xcodeproj -scheme webview -sdk iphoneos CODE_SIGNING_ALLOWED=NO -configuration Release
          mkdir Payload
          cp -r build/Release-iphoneos/webview.app Payload/
          zip -r webview.ipa Payload
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: My-App-IPA
          path: webview.ipa
